---
layout: category
title: IFK
---

<div id="categorieIFK">
    <h1>IFK</h1>
    {% for post in site.posts %}
        {% if post.categories contains "IFK" %}
            <div class="blog-post">
                <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                {% if post.image %}
                    <img src="{{ post.image }}" alt="{{ post.title }}" class="post-image">
                {% endif %}
                <p class="post-meta">
                    <span class="post-date">{{ post.date | date: "%B %d, %Y" }}</span>
                </p>
                <div class="post-excerpt">
                    {{ post.excerpt }}
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>